extends layout

block head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
  link(rel='stylesheet', href='/css/home.css')
  script(src="http://api.map.baidu.com/api?v=2.0&ak=TeNY1seRygCWDcHygkTT6i7L")

block content
  #map
  script(src="/js/home.js")
