$red: #c43c35;
body, html, #map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.sidebar {
  overflow: auto;
  height: 100%;
  width: 250px;
  float: left;
  border-right: 1px solid #ccc;
  h1 {
    b {
      color: $red;
    }
    text-align: center;
    margin-top: 1em;
    margin-bottom: 0;
  }
  .alert-message {
    font-size: 13px;
    color: #fff;
    background-color: $red;
    /* background: linear-gradient(top, #ee5f5b, #c43c35); */
    padding: 10px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  }
  form {
    fieldset {
      .pure-control-group {
        margin: 10px 20px;
        label {
          display: inline-block;
          font-size: 14px;
          color: #777;
        }
        .required {
          font-size: 14px;
          color: $red;
        }
        input {
          width: 100%;
        }
      }
      .submit {
        width: 100%;
      }
      .submit-container {
        padding: 20px 20px;
        background-color: #eeeeee;
      }
      .pure-button-disabled {
        background-color: #c0c0c0;
      }
    }
  }
}

.map-container {
  overflow: hidden;
  width: auto;
  height: 100%;
}

